@import "tailwindcss";

@theme {
  --font-sans: "Outfit", system-ui, sans-serif;
  --font-mono: "Fira Code", monospace;

  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;

  --color-background: #09090b;
  --color-surface: #121214;
  --color-border: #1f1f22;
  --color-brand: #3b82f6;
}

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  background-color: var(--color-background);
  color: var(--color-zinc-200);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-zinc-200;
  }
}

/* Custom Scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1f1f22;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #27272a;
}